.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
  width: 70%;
}

.card {
  width: 100%;
}

.playlist-back {
  margin-bottom: 10rem;
}

.playlist {
  margin-bottom: 10rem;
}

.playlist > .content {
  display: flex;
  align-items: center;
  align-self: center;
}
